.button {
  font-family: 'InterRegular';
  border-radius: 6px;
  border-style: none;
  padding: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.button--primary {
  background: #6D5BD0;
  color: #FFF;
}
.button--primary:hover{
    background: #816cf7;
}
.button--primary:focus{
  background: #816cf7;

}
.button__container{
  display: flex;
  padding: 20px 0 20px
}
.button--dowload{
  color: #FFF;
  background: #6E6893;
}
.button--error{
  background: #F30000;
}