.modal-window__body{
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
  padding-top: 30px;
  padding-bottom: 30px;
}
.modal-window__dialog {
  width: 500px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
}
.modal-window__header{
  display: flex;
  justify-content: flex-end;
}
.modal-window__tittle{
  display: flex;
  justify-content: flex-start;
}

