::placeholder {
  color: #6E6893;
  opacity: 1; 
}

:-ms-input-placeholder { 
  color: #6E6893;
}

::-ms-input-placeholder { 
  color: #6E6893;
}
.table { 
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  overflow:hidden;
}

.tabble__search-container {
  padding: 15px 20px 15px 20px;
}
.search {
  background: #F4F2FF;
  border-radius: 6px;
  border-style: none;
  font-family: 'InterRegular';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  padding:10px;
  color: #6E6893;
  outline-style: none;
  max-width: 300px;
  display: flex;
  align-items: center;
}
.search__input {
  color: #8B83BA;
  margin: 0 0 0 20px;
  background: #F4F2FF;
  border: none;
  width: 100%;
  outline:none;
}
.search__input:hover {
  border-bottom: 1px solid #8B83BA;
}
.search__input:focus {
  border-bottom: 2px solid #8B83BA;
}
.table__container {
  width: 100%;
  border-spacing: 0px;
  table-layout: fixed 
}
.table__header {
  background: #F4F2FF;
}
.table__header-cell{
  border-top: 1px solid #D9D5EC;
  height: 45px;
  font-family: 'InterRegular';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #6E6893;
  width: 100%;
  padding: 0px 20px 0px 20px;
  word-wrap: break-word
}
.table__header-cell--down::after{
  display: inline-block;
  content: ">";
    -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg) scale(1 , 1.5  );
  position: relative;
  left:5px 
}
.table__header-cell--up::after{
  display: inline-block;
  content: ">";
    -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg) scale(1 , 1.5  );
  position: relative;
  left:5px 
}
.table__body-cell{
  border-top: 1px solid #D9D5EC;
  min-height: 60px;
  font-family: 'InterRegular';
  padding: 0px 20px 0px 20px;
  width: 100%;
  word-wrap: break-word
}
.tabble__navigate {
  display: flex;
  align-items: center;
  border-top: 1px solid #D9D5EC;
  display: flex;
  background: #F4F2FF;
  height: 45px;
  justify-content: space-around;
}

.table__page-button {
    font-style: normal;
  font-family: 'InterRegular';
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.05em;
  background: #F4F2FF;
  border: none;
  outline: none;
  color: #6E6893;
  display:flex;
  align-items: center;
  height: 30px;
}
.table__page-button--first::before{
  content: "";
  height: 10px;
  border-left: 1px solid  #6E6893;

}
.table__page-button--last::after{
  content: "";
  height: 10px;
  border-left: 1px solid  #6E6893;

}
.table__page-button:hover {
  background: #FFF;
  border-radius: 8px;
}
.table__page-button:focus {
  background: #FFF;
  border-radius: 8px;
}
.table__active-page {
  color: #6E6893;
  font-style: normal;
  font-family: 'InterRegular';
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.05em;
}

.modal-enter-active, .modal-leave-active {
  transition: opacity .5s;
}
.modal-enter, .modal-leave-to {
  opacity: 0;
}