<template>
  <div @click.self="showModal" class="modal-window__body">
    <div class="modal-window__dialog">
      <slot> </slot>
    </div>
  </div>
</template>

<script>
import "@/assets/css/modal-window.css";
export default {
  mounted() {
    window.addEventListener("keyup", this.closeModal);
  },
  destroyed() {
    window.removeEventListener("keyup", this.closeModal);
  },
  methods: {
    closeModal(event) {
      if (event.keyCode === 27) {
        // try close your dialog
        this.showModal();
      }
    },
    showModal() {
      this.$emit("showModal");
    }
  }
};
</script>
