/* eslint-disable prettier/prettier */
<template>
  <div>
    <transition name="fade">
      <baseModal @showModal="showModal" v-if="isModalShow">
        <rowInfo @showModal="showModal" :choosedRow="this.choosedRow" />
      </baseModal>
    </transition>
    <div class="table">
      <div class="tabble__search-container">
        <div class="search">
          <img src="@/assets/icons/Search.svg" alt="search icon" />
          <input
            type="text"
            v-model="searchText"
            class="search__input"
            @input="searchOnTable"
            placeholder="Поиск по всей таблице"
          />
        </div>
      </div>
      <table class="table__container">
        <thead class="table__header">
          <tr>
            <th
              v-for="(cellOfHead, cellIndex) in headerCell"
              @click="sortBy(cellOfHead)"
              :key="cellIndex"
              class="table__header-cell"
              :class="{
                'table__header-cell--up': isCellUp(cellOfHead),
                'table__header-cell--down': isCellDown(cellOfHead)
              }"
            >
              <span>
                {{ cellOfHead }}
              </span>
            </th>
          </tr>
        </thead>
        <tbody class="table__body">
          <tr
            v-for="(row, rowIndex) in dataOfChoosedPage"
            :key="rowIndex"
            @click="showModal(row)"
          >
            <td
              v-for="(cell, cellIndex) in row"
              :key="cellIndex"
              class="table__body-cell"
            >
              <myTableCell :cell="cell"></myTableCell>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="tabble__navigate">
        <button
          class="table__page-button table__page-button--first"
          @click="onPage(1)"
        >
          &lt;
        </button>
        <button class="table__page-button" @click="previousPage">&lt;</button>
        <div class="table__active-page">{{ choosedPage }} / {{ maxPage }}</div>
        <button class="table__page-button" @click="nextPage">&gt;</button>
        <button
          class="table__page-button table__page-button--last"
          @click="onPage(maxPage)"
        >
          &gt;
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import baseModal from "@/components/baseModal.vue";
import rowInfo from "@/components/rowInfo.vue";
import myTableCell from "@/components/myTableCell.vue";

import "@/assets/css/myTable.css";

export default {
  name: "myTable",

  components: {
    baseModal,
    rowInfo,
    myTableCell
  },

  props: {
    tableData: {
      type: Array,
      required: true,
      validator: value => Array.isArray(value)
    }
  },

  computed: {
    maxPage: function() {
      return Math.ceil(this.processedData.length / this.elementsOnPage) || 1;
    }
  },

  data() {
    return {
      headerCell: [],
      processedData: [],
      searchText: "",
      lastLengthOfSearchedText: 0,
      dataOfChoosedPage: [],
      choosedPage: 1,
      elementsOnPage: 51,
      sortKey: "",
      isSortDuractionDown: false,
      choosedRow: {},
      isModalShow: false
    };
  },

  created: function() {
    this.processedData = this.tableData;
    this.updatePage();
    this.headerCell = Object.keys(this.processedData[0]);
  },

  methods: {
    //навигация в таблице
    onPage(number) {
      this.choosedPage = number;
      this.updatePage();
    },

    nextPage() {
      if (this.choosedPage !== this.maxPage) {
        this.choosedPage++;
        this.updatePage();
      }
    },

    previousPage() {
      if (this.choosedPage !== 1) {
        this.choosedPage--;
        this.updatePage();
      }
    },

    //перерисобираем таблицу
    updatePage() {
      this.dataOfChoosedPage = this.processedData.slice(
        (this.choosedPage - 1) * this.elementsOnPage,
        this.choosedPage * this.elementsOnPage
      );
    },

    //сортировка в таблице
    sortBy(key) {
      if (this.sortKey == key && !this.isSortDuractionDown) {
        this.processedData = this.processedData.sort((a, b) =>
          a[key] < b[key] ? 1 : -1
        );
        this.isSortDuractionDown = true;
      } else {
        this.processedData = this.processedData.sort((a, b) =>
          a[key] > b[key] ? 1 : -1
        );
        this.sortKey = key;
        this.isSortDuractionDown = false;
      }
      this.updatePage();
    },

    //поиск в таблице
    searchOnTable() {
      //если поле пустое, то отображает всю таблицу
      if (this.searchText == "") {
        this.processedData = this.tableData;
        this.lastLengthOfSearchedText = 0;
        //возвращает на первую страницу
        this.choosedPage = 1;
        this.updatePage();
        //если непустое
      } else {
        let newTable = [];
        //проверяет было добавлен символ в инпут или удален
        if (this.lastLengthOfSearchedText > this.searchText.length) {
          newTable = this.tableData;
        } else {
          newTable = this.processedData;
        }
        //используем рекурсию filterOnCell(row) ведь для универсальности нужно проверять есть ли является ли ячейка объектом и т.д
        newTable = newTable.filter(row => this.filterOnCell(row));
        this.lastLengthOfSearchedText = this.searchText.length;
        this.processedData = newTable;
        this.choosedPage = 1;
        this.updatePage();
      }
    },

    filterOnCell(row) {
      //текст, который ищем
      let text = this.searchText.toLowerCase();
      return Object.keys(row).some(key => {
        if (Object.getPrototypeOf(row[key]) === Object.prototype) {
          const obj = row[key];
          return this.filterOnCell(obj);
        }
        return (
          String(row[key])
            .toLowerCase()
            .indexOf(text) > -1
        );
      });
    },

    //рисует стрелку напротив головной ячейки таблицы в зависимости от сортировки
    isCellUp(cell) {
      if (cell == this.sortKey && !this.isSortDuractionDown) {
        return true;
      }
    },

    isCellDown(cell) {
      if (cell == this.sortKey && this.isSortDuractionDown) {
        return true;
      }
    },

    showModal(row) {
      //еднственное, мне кажется, что этот метод не может быть переиспользан и работает только с конкретными данными
      if (row) {
        this.choosedRow = row;
      }
      this.isModalShow = !this.isModalShow;
    }
  }
};
</script>
