<template>
  <span v-if="Object.getPrototypeOf(cell) === Object.prototype">
    <myTableCell
      v-for="(elementOfCell, index) in cell"
      :key="index"
      :cell="elementOfCell"
    >
    </myTableCell>
  </span>
  <span v-else>{{ cell }}</span>
</template>

<script>
import myTableCell from "@/components/myTableCell.vue";
export default {
  name: "myTableCell",
  props: ["cell"],
  components: { myTableCell }
};
</script>
]
