<template>
  <div class="info">
    <div class="info__container">
      <div class="info__header">
        <button class=" button button--primary" @click="showModal">X</button>
      </div>
      <div class="info__body">
        <p>Полное имя: {{ choosedRow.fullname }}</p>
        <p>
          Адрес:
          <span v-for="item in choosedRow.address" :key="item">{{ item }}</span>
        </p>
      </div>
    </div>
  </div>
</template>
<script>
import "@/assets/css/rowInfo.css";
import "@/assets/css/button.css";
export default {
  props: {
    choosedRow: {
      type: Object,
      required: true,
      validator: value =>
        !!value.address &&
        value.address != "" &&
        !!value.fullname &&
        value.fullname != "" &&
        !!value
    }
  },
  methods: {
    showModal() {
      this.$emit("showModal");
    }
  }
};
</script>
