<template>
  <div class="container">
    <div class="button__container">
      <button
        @click="showTable"
        class="button"
        :class="{
          'button--error': isError,
          'button--dowload': isDownload && !isError,
          'button--primary': !isDownload && !isError
        }"
      >
        <span v-if="isError">Ошибка</span>
        <span v-else-if="isTableShow">Закрыть таблицу</span>
        <span v-else-if="isDownload"> Загрузка...</span>
        <span v-else>Открыть таблицу</span>
      </button>
    </div>
    <transition name="table">
      <myTable v-if="isTableShow" :tableData="tableData.data"></myTable>
    </transition>
  </div>
</template>

<script>
import myTable from "./components/myTable.vue";

import "@/assets/css/button.css";
import "@/assets/css/app.css";
export default {
  name: "App",
  components: {
    myTable
  },

  data() {
    return {
      isTableShow: false,
      tableData: null,
      isDownload: false,
      isError: false
    };
  },

  methods: {
    async showTable() {
      if (!this.isTableShow) {
        this.isError = false;
        this.isDownload = true;
        this.tableData = await this.$store.dispatch("getData");
        this.isDownload = false;
        if (this.tableData.status == 200) {
          if (Array.isArray(this.tableData.data)) {
            this.isTableShow = !this.isTableShow;
            return;
          } else {
            this.isError = true;
            setTimeout(() => (this.isError = false), 2000);
            return;
          }
        } else {
          this.isError = true;
          setTimeout(() => (this.isError = false), 2000);

          return;
        }
      }
      this.isTableShow = !this.isTableShow;
    }
  }
};
</script>
